<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Create the tabs -->
  <div class="pad">
    This is an example of the control sidebar.

    <!--
    Once you create the sidebar, you will need a toggle button to open/close it.
    By adding the attribute data-toggle="control-sidebar" to any button, it will
    automatically act as the toggle button.
 
    <button class="btn btn-default" data-toggle="control-sidebar">Toggle Right Sidebar</button>
    -->
  </div>
</aside><!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
